<div th:fragment="profile-my-activity" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui cards">
        <div class="card" ng-repeat="activity in activities">
            <div class="content">
                <div class="header">{{activity.mName}}</div>
                <div class="meta">{{activity.mTime}} </div>
                <div class="meta">{{activity.mLocation}} </div>
                <div class="description">{{activity.mDescription}} </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button">详情</div>
                    <div class="ui basic red button">退出</div>
                </div>
            </div>
        </div>
    </div>
</div>