<div th:fragment="profile-card" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui cards">
        <div class="ui card">
            <div class="image">
                <img src="/F.jpg"/>
            </div>
            <div class="content">
                <a class="ui orange right ribbon label" ng-click="showEdit()"><i class="write icon"></i>编辑</a>
                <p class="header">{{student.name}}</p>

                <div class="meta">
                    <span class="date">{{student.contact}}</span>
                </div>
                <div class="description">{{student.grade}}->{{student.major}} </div>
            </div>
            <div class="extra content">
                <span class="right floated">{{student.id}} </span>
            </div>
        </div>
    </div>
</div>