<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>鲜活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm.min.css}"/>
    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm-extend.min.css}"/>

</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current" id="">
        <header class="bar bar-nav">
            <h1 class="title">我的信息中心</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item external" href="/t_home">
                <span class="icon icon-me"></span>
                <span class="tab-label">我</span>
            </a>
            <a class="tab-item external" href="/t_activity">
                <span class="icon icon-app"></span>
                <span class="tab-label">活动</span>
            </a>
            <a class="tab-item external" href="/t_organize">
                <span class="icon icon-emoji"></span>
                <span class="tab-label">社团</span>
            </a>
            <a class="tab-item external active" href="/t_message">
                <span class="icon icon-message"></span>
                <span class="tab-label">信息中心</span>
            </a>
        </nav>
        <div class="content pull-to-refresh-content" data-ptr-distance="55">
            <!-- 这里是页面内容区 -->
            <!-- 默认的下拉刷新层 -->
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>

            <div class="card-container" th:fragment="messageList">
                <div th:each="message:${messages}">
                    <div class="content-block-title" th:text="${message.name}">简单卡片</div>
                    <div class="card" th:each="notice:${message.messageList}">
                        <div class="card-header" th:text="${notice.name}">卡头</div>
                        <div class="card-content">
                            <div class="card-content-inner" th:text="${notice.description}">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
                        </div>
                        <div class="card-footer">日期</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' th:src="@{/tongxinyun/js/sm.js}" charset='utf-8'></script>
<script type='text/javascript' th:src="@{/tongxinyun/js/sm-extend.js}" charset='utf-8'></script>
<script>
    $.init();


    $(document).on('refresh', '.pull-to-refresh-content',function(e) {
        // 模拟2s的加载过程
        setTimeout(function() {
            $.get("/t_message/refresh", {Action: "get", Name: "message"}, function(data, textStatus){
                $(".card-container").replaceWith(data);
            });

            // 加载完毕需要重置
            $.pullToRefreshDone('.pull-to-refresh-content');
        }, 2000);
    });
</script>
</body>
</html>
