<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>鲜活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm.min.css}"/>
    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm-extend.min.css}"/>

</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current" id="">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/t_home">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">我的评论</h1>
        </header>

        <div class="content">
            <div class="card" th:each="comment:${comments}">
                <div class="card-header" th:text="${comment.name}">卡头</div>
                <div class="card-content">
                    <div class="card-content-inner" th:text="${comment.desc}">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
                </div>
                <div class="card-footer"><a href="#" class="link">查看</a></div>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' th:src='@{/tongxinyun/js/sm.js}' charset='utf-8'></script>
<script type='text/javascript' th:src='@{/tongxinyun/js/sm-extend.js}' charset='utf-8'></script>
<script>
    $.init();
</script>
</body>
</html>
