<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>鲜活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm.min.css}"/>
    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm-extend.min.css}"/>

</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current" id="">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/t_home">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">我的评论</h1>
        </header>

        <div class="content">

            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">社团</a>
                <a href="#tab2" class="tab-link button">活动</a>
            </div>

            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block">
                        <div th:each="club : ${clubs}">
                            <div class="content-block-title" th:text="${club.mName}"></div>
                            <div th:each="comment : ${club.comments}">
                                <div class="card" th:if="${comment.mStudentId}==${username}">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <p th:text="${comment.mContent}"></p>
                                            <p class="color-gray" th:text="${comment.mDate}"></p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/t_stu/deletecomment(id=${comment.mId})}">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab2" class="tab">
                    <div class="content-block">
                        <div th:each="activity : ${activities}">
                            <div class="content-block-title" th:text="${activity.mName}"></div>
                            <div th:each="comment : ${activity.comments}">
                                <div class="card" th:if="${comment.mStudentId}==${username}">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <p th:text="${comment.mContent}"></p>
                                            <p class="color-gray" th:text="${comment.mDate}"></p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/t_stu/deletecomment(id=${comment.mId})}" class="link">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' th:src='@{/tongxinyun/js/sm.js}' charset='utf-8'></script>
<script type='text/javascript' th:src='@{/tongxinyun/js/sm-extend.js}' charset='utf-8'></script>
<script>
    $.init();

</script>
</body>
</html>
