<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>鲜活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm.min.css}"/>
    <link rel="stylesheet" th:href="@{/tongxinyun/css/sm-extend.min.css}"/>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' th:src='@{/tongxinyun/js/sm.js}' charset='utf-8'></script>
    <script type='text/javascript' th:src='@{/tongxinyun/js/sm-extend.js}' charset='utf-8'></script>

</head>
<body>
<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current" id="">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" th:href="@{/t_organize/}">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title" th:text="${organize.mName}">社团详情</h1>
        </header>

        <div class="content">
            <div align="center">
                <img th:src="@{/tongxinyun/D.jpg}" style="width: 90%; height: 40%" class="pb-standalone-captions"/>
            </div>

            <div class="content-padded" align="center">
                <h1 th:text="${organize.mName}">标题</h1>
                <h3 th:text="'指导老师:' + ${organize.mTeacher}"></h3>
            </div>
            <div class="content-padded">
                <p th:text="${organize.mDescription}">社团详情</p>
            </div>

            <div class="content-block">
                <p><a href="#" class="button button-big button-round create-actions">一探究竟</a></p>
            </div>
        </div>
    </div>
    <!--评论-->
    <div class="popup popup-comment">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back close-popup" href="#">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">评论</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-comment"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <textarea id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger close-popup">取消</a></div>
                    <div class="col-50"><a href="#" class="button button-big button-fill button-success submit-comment">提交</a></div>
                </div>
            </div>
            <div align="center">
                <h3>评论区</h3>
            </div>
            <!--评论区-->
            <div class="infinite-scroll infinite-scroll-bottom" data-distance="100">
                <div class="list-block">
                    <ul class="list-container">
                        <li th:each="comment:${comments}">
                            <div class="card">
                                <div class="card-header"><a th:text="${comment.studentName}" th:href="@{/t_stu/{studentId}/details(studentId=${comment.mStudentId})}"></a></div>
                                <div class="card-content">
                                    <div class="card-content-inner" th:text="${comment.mContent}"></div>
                                </div>
                                <div class="card-footer" th:text="${comment.mDate}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <p><a href="#" class="button button-fill more">查看更多</a></p>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $.init();

        $(document).on('click','.create-actions', function () {
            var buttons1 = [
                {
                    text: '请选择',
                    label: true
                },
                {
                    text: '申请',
                    bold: true,
                    color: 'danger',
                    onClick: function() {
                        $.get("/t_organize/" + [[${mId}]] + "/apply", {Action: "get", Name: "organizeapply"}, function(data, textStatus){
                            if (data == "true"){
                                $.alert("申请已经投递!");
                            }else if (data == "false"){
                                $.confirm('已经申请,是否取消申请',
                                        function () {
                                            $.get("/t_organize/" + [[${mId}]] + "/unapply", {Action: "get", Name: "activityunapply"}, function(data, textStatus){
                                                if (data == "true"){
                                                    $.alert("成功取消申请!");
                                                }else{
                                                    $.alert("取消失败");
                                                }
                                            })
                                        },
                                        function () {

                                        }
                                );
                            }else if (data == "login"){
                                $.confirm("该操作需要先登录,是否登录",
                                        function (){
                                            $.alert("跳转去登录页");
                                        },
                                        function (){

                                        });
                            }
                        });
                    }
                },
                {
                    text: '评论',
                    onClick: function () {
                        $.popup('.popup-comment');
                    }
                }
            ];
            var buttons2 = [
                {
                    text: '取消',
                    bg: 'danger'
                }
            ];
            var groups = [buttons1, buttons2];
            $.actions(groups);
        });

        var loading = false;

        // 上次加载的序号
        var lastIndex = [[${lastIndex}]];

        $(document).on('click', '.submit-comment', function(){
            $.get("/t_organize/" + [[${mId}]] + "/comment?comment=" + $('#comment').val(), {Action: 'get', Name: 'comment'}, function(data, textStatus){
                if (data == 'true') {
                    $.get('/t_organize/' + [[${mId}]] + '/comment/refresh?start=' + lastIndex + '&number=1', {Action: 'get', Name: 'refreshComment'}, function(data){
                        // 添加新条目
                        $('.infinite-scroll-bottom .list-container').append(data);
                        lastIndex = $('.list-container li').length;
                        $.refreshScroller();
                        $('#comment').val('');
                        $.alert('评论成功');
                    });
                }else if (data == "login"){
                    $.confirm("该操作需要先登录,是否登录",
                            function (){
                                $.alert("跳转去登录页");
                            },
                            function (){

                            });
                }
            })
        });

        // 注册'infinite'事件处理函数
        $(document).on('click', '.more', function() {
            $.showPreloader("正在加载评论");

            // 如果正在加载，则退出
            if (loading) return;

            // 设置flag
            loading = true;

            // 模拟1s的加载过程
            setTimeout(function() {
                // 重置加载flag
                loading = false;

                $.get('/t_organize/' + [[${mId}]] + '/comment/refresh?start=' + lastIndex + '&number=10', {Action: 'get', Name: 'refreshComment'}, function(data){
                    // 添加新条目
                    $('.infinite-scroll-bottom .list-container').append(data);
                    if (lastIndex == $('.list-container li').length){
                        $.alert("无更多评论!");
                    }else{
                        lastIndex = $('.list-container li').length;
                    }
                });
                $.refreshScroller();
                $.hidePreloader();
            }, 1000);
        });

        /*=== 有标题 ===*/
        var myPhotoBrowserCaptions = $.photoBrowser({
            photos : [
                {
                    url: '//127.0.0.1:8080/D.jpg',
                    caption: 'Caption 1 Text'
                },
                {
                    url: '//img.alicdn.com/tps/i1/TB1SKhUHVXXXXb7XXXX0HY8HXXX-1024-1024.jpeg',
                    caption: 'Second Caption Text'
                },
                // 这个没有标题
                {
                    url: '//img.alicdn.com/tps/i4/TB1AdxNHVXXXXasXpXX0HY8HXXX-1024-1024.jpeg',
                },
            ],
            theme: 'dark',
            type: 'standalone'
        });
        $(document).on('click','.pb-standalone-captions',function () {
            myPhotoBrowserCaptions.open();
        });
        /*]]>*/
    </script>
</div>
</body>
</html>
