<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted center aligned stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我们</h4>
                    <div class="ui inverted link list">
                        <p>电话</p>
                        <a class="item"> 15900582673</a>
                        <p>邮箱</p>
                        <a class="item"> tj_island@163.com</a>
                        <p>地址</p>
                        <a class="item">  上海市嘉定区曹安公路4800号同济大学嘉定校区</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">成员列表</h4>
                    <div class="ui inverted link list">
                        <p>1452822</p>
                        <a class="item"> 洪嘉勇</a>
                        <p>1454093</p>
                        <a class="item"> 夏陈</a>
                        <p>1452716</p>
                        <a class="item"> 张尹嘉</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">团队贡献</h4>
                    <div class="ui inverted link list">
                        <p>后台</p>
                        <a class="item"> 张尹嘉</a>
                        <a class="item"> 夏陈</a>
                        <p>前端</p>
                        <a class="item"> 洪嘉勇</a>
                        <p>文档</p>
                        <a class="item"> 洪嘉勇</a>
                        <a class="item"> 夏陈</a>
                        <a class="item"> 张尹嘉</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">仓库</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="https://github.com/Hjyheart/Xian-Huo">Xian-huo</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h2 class="ui inverted teal header">Project for software engineering!</h2>
                    <p>Copyright © 2016 小洪车队</p>
                </div>
            </div>
        </div>
    </div>
</div>