<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${clubId}"></title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/Semantic-UI/semantic.min.css}"/>
    <script type="text/javascript" th:src="@{/Semantic-UI/jquery-3.1.1.min.js}"/>
    <script type="text/javascript" th:src="@{/Semantic-UI/semantic.min.js}"/>
    <script type="text/javascript" th:src="@{/Semantic-UI/floatingNav.js}"/>

    <script type="text/javascript" th:src="@{/web/ng-controller/app.js}"/>
    <script type="text/javascript" th:src="@{/web/ng-controller/club/club-manageCtrl.js}"/>
    <script type="text/javascript" th:src="@{/web/ng-controller/service/const.service.js}"/>
</head>
<div class="transition hidden" id="clubId" th:text="${id}"></div>
<body class="pushable" ng-app="myApp" ng-controller="club-manageCtrl">
    <style>
        .ui.vertical.masthead.center.aligned.segment{
            background-image: url({{club.mImgUrl}});
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>
    <div th:include="web/nav/navbar-floating :: navbar-floating"></div>
    <div class="pusher">
        <div class="ui vertical masthead center aligned segment">
            <div ng-if="!isLogin">
                <div th:include="web/nav/navbar-public :: navbar-public"></div>
            </div>
            <div ng-if="isLogin">
                <div th:include="web/nav/navbar-personal :: navbar-personal"></div>
            </div>
            <div class="ui text container">
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <h1 class="ui inverted header">
                    {{club.mName}}
                </h1>
                <h1>{{club.mDescription}}</h1>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <i class="down arrow icon"></i>
            </div>
        </div>

        <div class="ui stripe theming vertical segment">
            <div class="ui aligned stackable grid container">
                <div class="row">
                    <div class="six wide column">
                        <!--左侧图片和基本资料 用卡片-->
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui inverted button" ng-click="changeHead()">更换封面照片</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{club.mImgUrl}}"/>
                                </div>
                                <div class="content">
                                    <a class="ui orange right ribbon label" ng-click="editbasicinfo()"><i class="write icon"></i>编辑</a>
                                    <a class="header">{{club.mName}}</a>
                                    <div class="meta">
                                        <span class="date">{{club.content}}</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> {{clubNum}} 社员 </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ten wide column">
                        <!--资源区-->
                        <div class="ui top attached tabular menu">
                            <div class="active item" ng-click="showSource()" id="first">资源区</div>
                            <div class="item" ng-click="showActivity()" id="second">活动</div>
                            <div class="item" ng-click="showStudent()" id="three">学生</div>
                        </div>

                        <div class="ui bottom attached active tab segment" id="source">
                            <form class="ui action input" id="upload-form" enctype="multipart/form-data">
                                <input type="file" id="file"/>
                                <button class="ui teal right labeled icon button" ng-click="uploadFile()"><i class="file icon"></i> 上传 </button>
                            </form>
                            <div class="ui relaxed divided list">
                                <div class="item" ng-repeat="file in club.files">
                                    <i class="large file middle aligned icon"></i>
                                    <div class="content">
                                        <a class="header" href="{{file.mUrl}}">{{file.mName}}</a>
                                    </div>
                                    <button class="ui red right floated button" ng-click="deleteFile(file)">删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" id="activity">
                            <div class="ui divided items">
                                <div class="item" ng-repeat="activity in club.activity">
                                    <div class="image">
                                        <img src="{{activity.mImgUrl}}"/>
                                    </div>
                                    <div class="content">
                                        <a class="header">{{activity.mName}}</a>
                                        <div class="meta">
                                            <span class="cinema">
                                                {{activity.time}}
                                            </span>
                                        </div>
                                        <div class="meta">
                                            <span class="cinema">{{activity.mLocation}}</span>
                                        </div>
                                        <div class="description">
                                            <p>{{activity.mDescription}}</p>
                                        </div>
                                        <div class="extra">
                                            <div class="ui right floated primary button" ng-click="toActivity(activity)">详情 <i class="right chevron icon"></i> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" id="student">
                            <div class="ui relaxed divided list">
                                <div class="item" ng-repeat="student in club.students">
                                    <i class="large user middle aligned icon"></i>
                                    <div class="content">
                                        <a class="header" href="/other/{{student.mId}}">{{student.mName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div th:include="web/footer :: footer"></div>
    </div>

    <div class="ui modal" id="change-head">
        <i class="close icon"></i>
        <div class="header">
            更换头像
        </div>
        <div class="content">
            <form class="ui form" enctype="multipart/form-data">
                <input type="file" name="head-file" id="head-file"/>
            </form>
        </div>
        <div class="actions">
            <div class="ui black deny button">取消</div>
            <div class="ui positive approve labeled icon button">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div class="ui modal" id="edit-basic">
        <i class="close icon"></i>
        <div class="header">
            编辑基本信息
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>社团名称</label>
                    <input type="text" placeholder="{{club.mName}}" id="club-new-name" />
                </div>
                <div class="field">
                    <label>简述</label>
                    <input type="text" placeholder="{{club.mDescription}}" id="club-new-des" />
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui black deny button">取消</div>
            <div class="ui positive approve labeled icon button">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

</body>
<script>
    function uploadFile(){
        var file = $('#upload-file');
        var fReader = new FileReader();
        fReader.readAsDataURL(file[0]);
        fReader.onloadend = function (event) {
            alert(event.target.result);
        }
    }
</script>
</html>