<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>register</title>
</head>
<body>
    <form method="post" action="/register/submit">
        <input type="text" name="id"/>
        <input type="password" name="password"/>
        <input type="text" name="name" />
        <input type="text" name = "grade" />
        <input type="text" name="major"/>
        <input type="text" name="contact"/>
        <input type="submit" name="submit"/>
    </form>

    <select name="select" onchange="function show_sub(value) {
            $.ajax(
                    {
                    type:'POST',
                    url : '/register/submit',
                    data: 'value'+value,
                    success:alert(value)
                    }
            );
        }
        show_sub(this.options[this.options.selectedIndex].value)">
        <option selected="selected" value="teacher">teacher</option>
        <option value="student">student</option>
        <option value="club">club</option>
    </select>
</body>
<script th:src="@{/jsPackage/jquery-3.1.1.min.js}"></script>
</html>