<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<script src="/jsPackage/jquery-3.1.1.min.js"></script>
<script>

    function upload(){
        var data = new FormData($("#Upload")[0]);

        $.ajax(
                {
                    url: "/Test/upload",
                    type: "POST",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: alert(1),
                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                        alert(errorThrown);
                    }
                }
        );
    }

</script>
<body>
   <form id = "Upload" name = "upform" method="post" enctype="multipart/form-data" action = "javascript:upload()">
       <input  type="file" id="ut" name = "fileinput" size="15"   maxlength="100"/>
       <input type="submit" name = "submit" id="submitbutton" />
   </form>
</body>
</html>