<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>鲜活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="/css/sm.min.css"/>
    <link rel="stylesheet" href="/css/sm-extend.min.css"/>

</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current" id="">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">我的活动</h1>
        </header>

        <div class="content">
            <div class="card" th:each="activity:${activities}">
                <div class="card-header" th:text="${activity.name}">社团的名字</div>
                <div class="card-content">
                    <div class="list-block media-list">
                        <ul>
                            <li>
                                <a th:href="@{/activity/{name}(name=${activity.name})}" class="item-link item-content">
                                    <div class="item-media">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"/>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title" th:text="${activity.desc}">标题</div>
                                        </div>
                                        <div class="item-subtitle">子标题</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <span th:text="${activity.data}">2015/01/15</span>
                    <span>5 评论</span>
                </div>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' th:src='@{/js/sm.js}' charset='utf-8'></script>
<script type='text/javascript' th:src='@{/js/sm-extend.js}' charset='utf-8'></script>

<script>
    $.init();
</script>
</body>
</html>
