<div th:fragment="navbar-floating" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui large top fixed menu transition hidden">
        <div class="ui container">
            <a class="header item" href="/home">鲜活</a>
            <a class="item" href="/activity">活动</a>
            <a class="item" href="/club">社团</a>
            <div class="right menu">
                <div class="ui dropdown item" tabindex="0" id="floatDropdown" ng-if="loginif">
                    <i class="user icon"></i>
                    个人中心
                    <div class="menu transition hidden" tabindex="-1">
                        <a class="item" href="/mycenter/profile">我的资料</a>
                        <a class="item" href="/mycenter/club">我的社团</a>
                        <a class="item" href="/mycenter/activity">我的活动</a>
                        <a class="item" href="/mycenter/information">我的消息</a>
                        <a class="divider"></a>
                        <a class="item">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>