<div th:fragment="navbar-public" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="header item" href="/home">鲜活</a>
            <a class="item" href="/activity">活动</a>
            <a class="item" href="/club">社团</a>
            <div class="right item">
                <a class="ui inverted button" href="/login">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>