<div th:fragment="navbar-personal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui container" th:fragment="navbar-personal">
        <div class="ui large inverted secondary network menu">
            <a class="header item" href="/home">鲜活</a>
            <a class="item" href="/activity">活动</a>
            <a class="item" href="/club">社团</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui fluid category search">
                        <div class="ui transparent inverted icon input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search" class="prompt"/>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <div class="ui dropdown item" tabindex="0" id="mainDropdown">
                    <i class="user icon"></i>
                    <div class="menu transition hidden" tabindex="-1">
                        <a class="item" href="/mycenter/profile">管理中心</a>
                        <a class="item" href="/mycenter/information">信息中心</a>
                        <a class="divider"></a>
                        <a class="item">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>