<div th:fragment="navbar-floating-public" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui large top fixed menu transition hidden">
        <div class="ui container">
            <a class="header item" href="/home">鲜活</a>
            <a class="item" href="/activity">活动</a>
            <a class="item" href="/club">社团</a>
            <div class="right menu">
               <div class="item">
                   <a class="ui basic button" href="/login">登录</a>
               </div>
            </div>
        </div>
    </div>
</div>